<div
  [ngClass]="{ 'button__is-search': isSearchButton, button: !isSearchButton }"
>
  <button (click)="this.output.emit(true)">{{ this.label }}</button>
</div>
<div
  *ngIf="isSearchButton"
  [ngClass]="{
    'button__is-search-mobile': isSearchButton,
    button: !isSearchButton
  }"
>
  <button (click)="this.output.emit(true)"><i class="bi bi-search"></i></button>
</div>
