@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";
.button {
  width: 100%;
  > button {
    @include reHeight;
    @include reBlur;
    border: 2px solid $white;
    width: 100%;
    background-color: var(--theme-color);
    color: $white;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    outline: 0;
    letter-spacing: 1px;
    margin: 0;
    &:hover,
    &:focus {
      border: 2px solid var(--theme-color);
      transition: all 0.3s;
      background-color: $white;
      color: var(--theme-color);
    }
  }

  &__is-search {
    display: inherit;
    @include mobile {
      display: none;
    }
    > button {
      display: inherit;
      @include mobile {
        display: none;
      }
      @include reHeight;
      @include reBlur;
      border: 0px;
      width: 100px;
      background-color: $orange;
      color: $white;
      padding-bottom: 3px;
      font-weight: 600;
      font-size: 18px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      outline: 0;
      letter-spacing: 1px;
      margin: 0;
      &:hover,
      &:focus {
        border: 0px;
        transition: all 0.3s;
        background-color: var(--theme-color);
        color: $white;
      }
    }
  }
  &__is-search-mobile {
    display: inherit;
    @include desktop {
      display: none;
    }
    @include tablet {
      display: none;
    }
    > button {
      display: inherit;
      @include desktop {
        display: none;
      }
      @include tablet {
        display: none;
      }
      @include reHeight;
      @include reBlur;
      border: 0px;
      width: 40px;
      background-color: $orange;
      color: $white;
      padding-bottom: 3px;
      font-weight: 600;
      font-size: 18px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      outline: 0;
      letter-spacing: 1px;
      margin: 0;
      &:hover,
      &:focus {
        border: 0px;
        transition: all 0.3s;
        background-color: var(--theme-color);
        color: $white;
      }
    }
  }
}
