<div class="tag-pill" *ngIf="tags.length">
  <ng-container *ngFor="let tag of tags; let i = index">
    <ng-container *ngFor="let keyValue of tag | keyvalue">
      <div class="tag-pill__pill">
        {{ keyValue.value }}
        <i class="bi bi-x-circle" (click)="removeTag(i)"></i>
      </div>
    </ng-container>
  </ng-container>
</div>
