@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";
.tag-pill {
  margin-bottom: 40px;
  @include reRadius;
  @include reBlur;
  background-color: $white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  &__pill {
    @include reRadius;
    background-color: $orange;
    color: $white;
    padding: 5px 10px 5px 10px;
    margin-left: 3px;
    margin-right: 3px;
    @include dynamicFontSizer(12px, 12px, 10px);
    .bi {
      margin-left: 5px;
      cursor: pointer;
    }
  }
  &__error {
  }
}
