<tradr-header></tradr-header>
<div class="container-fluid">
  <div class="container">
    <tradr-toast></tradr-toast>
    <router-outlet></router-outlet>
    <ng-content></ng-content>
  </div>
</div>
