<div class="toast-wrapper" *ngIf="showMessage">
  <div class="toast fail" *ngIf="alertType === 'fail'">
    <i class="bi bi-exclamation-triangle-fill cupcake"></i>
    <span class="font-18">{{ informationString }}</span>
  </div>
  <div class="toast success" *ngIf="alertType === 'success'">
    <i class="bi bi-check-circle-fill meadow"></i>

    <span class="font-18">{{ informationString }}</span>
  </div>
  <div class="toast info" *ngIf="alertType === 'info'">
    <i class="bi bi-info-square-fill sky"></i>
    <span class="font-18">{{ informationString }}</span>
  </div>
</div>
