@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
.toast-wrapper {
  overflow: hidden;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 120px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  .fail {
    border: 3px solid $cupcake;
  }

  .success {
    border: 3px solid $meadow;
  }

  .info {
    border: 3px solid $sky;
  }
  .toast {
    @include reBlur;
    animation: slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1,
      slide-down 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 3.5s 1;
    /* Change the 3.5s value to adjust the time the element stays in place */
    transition: opacity 0.2s;
    animation-iteration-count: 1; /* Set animation iteration count to 1 */
    animation-fill-mode: forwards; /* Retain the final state of the animation */
    display: flex;
    align-items: center;
    height: 80px;
    margin-top: 20px;
    margin-top: 20px;

    width: 33%;
    background-color: $white;
    border-radius: 10px;
    padding: 10px;

    i {
      font-size: 28px;
      padding: 3px;
      display: block;
      width: 10%;
      text-align: left;
    }
    span {
      display: block;
      text-align: center;
      width: 80%;
      color: $dark;
      font-weight: 600;
    }
  }
}
