<div class="home-page">
  <div class="row">
    <div class="col-12">
      <tradr-search></tradr-search>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let storeSummary of mostRecentStores">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <tradr-store-summary
          [storeSummary]="storeSummary"
        ></tradr-store-summary>
      </div>
    </ng-container>
  </div>
</div>
