<div class="search">
  <div class="row">
    <div class="col-12">
      <div class="search__search-wrapper">
        <tradr-toggle (output)="handleToggle()"> </tradr-toggle>
        <ng-container *ngIf="isLocation">
          <tradr-input
            [placeholder]="'Search by Store Name...'"
            (output)="handleStoreNameSearch($event)"
          ></tradr-input>
        </ng-container>
        <ng-container *ngIf="!isLocation">
          <tradr-select
            [placeholder]="'Search by Tag...'"
            [resourceAcquisitionType]="'craftTags'"
            (output)="handleTagSelection($event)"
          ></tradr-select>
        </ng-container>

        <tradr-input
          [placeholder]="'Search by Postcode...'"
          (output)="handlePostcodeInput($event)"
        ></tradr-input>
        <tradr-button
          [label]="'Search'"
          [isSearchButton]="true"
          [theme]="'grey'"
          (output)="handleSearchButtonClick()"
        ></tradr-button>
      </div>
      <div class="search__search-pills">
        <tradr-tag-pill-bar></tradr-tag-pill-bar>
      </div>
      <div class="search__search-wrapper-mobile">
        <div class="search__block-1">
          <tradr-toggle (output)="handleToggle()"> </tradr-toggle>
        </div>

        <div class="search__block-2">
          <ng-container *ngIf="isLocation">
            <tradr-input
              [placeholder]="'Search by Store Name...'"
              (output)="handleStoreNameSearch($event)"
            ></tradr-input>
          </ng-container>
          <ng-container *ngIf="!isLocation">
            <tradr-select
              [placeholder]="'Search by Tag...'"
              [resourceAcquisitionType]="'craftTags'"
              (output)="handleTagSelection($event)"
            ></tradr-select>
          </ng-container>
          <tradr-input
            [placeholder]="'Search by Postcode...'"
            (output)="handlePostcodeInput($event)"
          ></tradr-input>
        </div>

        <div class="search__block-3">
          <tradr-button
            [label]="'Search'"
            [isSearchButton]="true"
            [theme]="'grey'"
            (output)="handleSearchButtonClick()"
          ></tradr-button>
        </div>
      </div>
    </div>
  </div>
</div>
