@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";

.search {
  &__search-wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    tradr-input,
    tradr-toggle,
    tradr-button,
    tradr-select {
      margin: 5px;
    }
    tradr-input {
      width: 300px;
    }
    tradr-select {
      width: 300px;
    }
    @include mobile {
      display: none !important;
    }
  }
  &__search-pills {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__search-wrapper-mobile {
    margin-top: 0px;
    height: 130px;
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    @include desktop {
      display: none !important;
    }
    @include tablet {
      display: none !important;
    }
  }
  &__block-1 {
    display: inline-block;
    width: 40px;
    tradr-toggle {
      display: inline-block;
    }
  }
  &__block-2 {
    display: inline-block;
    width: calc(100% - 80px);
    tradr-input {
      display: block;
    }
    tradr-select {
      display: block;
    }
  }
  &__block-3 {
    display: inline-block;
    width: 40px;
    tradr-button {
      display: inline-block;
    }
  }
}
