@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";

.header {
  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
  }
  &__logo {
    @include logo-xsm;
    cursor: pointer;
  }
  &__user-details {
    display: block;
    background-color: $white;
    @include reBlur;
    border-bottom: 3px solid $orange;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 50px;
    width: 100%;
    span {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      color: $orange;
      padding-right: 10px;
      margin-left: 10px;
      border-right: 1px solid $grey;
      height: 15px;
      line-height: 16px;
      &:last-of-type {
        border: 0;
      }
    }
    a {
      display: inline-block;
      padding-right: 10px;
    }
  }
  &__user-details-pill {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 60px;
    @include mobile {
      width: 100%;
      text-align: center;
    }
  }
}
