<div class="header" *ngIf="loggedInUser">
  <div class="header__user-details">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="header__logo-wrapper">
            <div class="header__logo" (click)="goHome()"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="header__user-details-pill">
            <span>Welcome back, {{ loggedInUser.firstName }}!</span
            ><a (click)="logOut()" class="global-link">logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
