@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";
.file-upload {
  &__error {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    color: $scarlet;
    font-weight: 600;
  }

  &__success {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    color: $forest;
    font-weight: 600;
  }
  label {
    @include reUnfocusBorder;
    @include reHeight;
    @include reBlur;
    width: 100%;
    text-align: center;
    background-color: $orange;
    color: $white;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    outline: 0;
    letter-spacing: 1px;
    margin: 0;
    cursor: pointer;
    padding-top: 4px;
    &:hover,
    &:focus {
      @include reFocusBorder;
      transition: all 0.3s;
      background-color: $white;
      color: $orange;
    }
  }
  span {
    display: block;
  }
  input[type="file"] {
    display: none;
  }
}
