<div class="file-upload">
  <label for="avatar-upload">
    {{ buttonText }}
    <input
      type="file"
      id="avatar-upload"
      accept="image/jpeg"
      (change)="selectFile($event)"
    />
  </label>
  <span
    class="file-upload__error"
    *ngIf="fileUploadDirty && !isValidImageForUploaded"
  >
    <ng-container *ngIf="fileType === 'avatar' || fileType === 'product_image'">
      The selected file must meet the following criteria: it should have
      dimensions no larger than 500px by 500px, a maximum file size of 1MB, and
      be in the JPEG/JPG image format.
    </ng-container>
    <ng-container *ngIf="fileType === 'banner'">
      The selected file must meet the following criteria: it should have
      dimensions no larger than 1920 by 600px, a maximum file size of 3MB, and
      be in the JPEG/JPG image format.
    </ng-container>
  </span>
  <span class="file-upload__success" *ngIf="fileSelected"
    >File selected successfully.</span
  >
</div>
<!-- onFileSelected($event) -->
