@import "./variables";

@mixin logo-xsm {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("./../../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  @include mobile {
    width: 60px;
    height: 60px;
  }
}

@mixin logo-sm {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url("./../../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  @include mobile {
    width: 60px;
    height: 60px;
  }
}

@mixin logo-md {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url("./../../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  @include mobile {
    width: 120px;
    height: 120px;
  }
}

@mixin logo-lg {
  display: inline-block;
  width: 260px;
  height: 260px;
  background-image: url("./../../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  @include mobile {
    width: 180px;
    height: 180px;
  }
}

@mixin reBlur {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin reSeeThroughBg {
  background-color: rgba(255, 255, 255, 0.9);
}

@mixin reHeight {
  height: 40px;
}

@mixin reRadius {
  border-radius: 20px;
}

@mixin reRadius10 {
  border-radius: 10px;
}

@mixin reUnfocusBorder {
  border: 2px solid $sandalwood;
}

@mixin reFocusBorder {
  border: 2px solid $orange;
}

@mixin reBottomAccent {
  border-bottom: 3px solid $orange;
}

@mixin reGradient {
  background-image: linear-gradient(to top left, #fffbfb, $white);
}

@mixin dynamicFontSizer($size1: 16px, $size2: 16px, $size3: 16px) {
  @media only screen and (max-width: 576px) {
    font-size: $size3;
    line-height: 1;
  }

  @media only screen and (min-width: 576px) {
    font-size: $size2;
    line-height: 1;
  }

  @media only screen and (min-width: 992px) {
    font-size: $size1;
    line-height: 1;
  }
}

@mixin mobile {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
