$orange: #ac4f1b;
$yellow: #ffea7e;
$grey: #b0b0b0;

$white: #fff;

$black: #201f1f;
$dark: #38393a;
$sandalwood: #ebab5e;
$earth: #9e5e27;
$meadow: #83ec5a;
$forest: #4fad6b;
$sky: #3e9bdd;
$ocean: #284b91;
$cupcake: #f16888;
$scarlet: #f73162;
