@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";

.store-summary-wrapper {
  cursor: pointer;

  display: block;
  width: 100%;
  border-bottom: 3px solid var(--theme-color);
  padding: 5px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    transform: scale(101%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @include reRadius;
  .store-summary {
    position: relative;
    @include reRadius;
    display: block;
    width: 100%;
    min-height: 400px;
    background-color: $white;
    &__banner-header {
      &:after {
        position: absolute;
        left: -5px;
        top: -5px;
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: var(--theme-color);
        border-radius: 20px;
        border: 5px solid white;
      }
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      min-height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &--fall-back-banner {
        background-image: url("./../../../../assets/placeholderbanner.jpg");
      }
    }
    &__avatar-backplate {
      @include reBlur;
      position: absolute;
      top: 125px;
      left: calc(50% - 75px);
      width: 150px;
      height: 150px;
      border-radius: 85px;
      opacity: 0.75;
      background-color: var(--theme-color);
    }
    &__avatar-content {
      @include reBlur;
      position: absolute;
      top: 135px;
      left: calc(50% - 65px);
      width: 130px;
      height: 130px;
      border-radius: 65px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &--fall-back-avatar {
        background-image: url("./../../../../assets/storeavatarplaceholder.jpg");
      }
    }
    .store-details-area {
      background-color: rgb(248, 248, 248);
      padding: 70px 10px 80px 10px;
      border: 20px solid white;
      border-radius: 50px;
      height: 280px;
      max-height: 280px;
      h4 {
        width: 90%;
        margin-left: 5%;
        display: block;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(221, 221, 221);
        text-overflow: ellipsis;
      }
      p {
        position: relative;
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(transparent 30px, rgb(248 248 248));
        }
        padding-top: 5px;
        display: block;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 60px;
      }

      sub {
        color: $grey;
        display: block;
        text-align: center;
        position: absolute;
        width: calc(100% - 60px);
        bottom: 60px;
        left: 30px;
      }

      tradr-button {
        position: absolute;
        width: calc(100% - 20px);
        bottom: 10px;
        left: 10px;
      }
    }
  }
}
