<div class="store-summary-wrapper" [routerLink]="'www.google.com'">
  <div class="store-summary">
    <div class="row">
      <div class="col-12">
        <div class="store-summary__avatar-backplate"></div>
        <div
          class="store-summary__banner-header"
          [ngStyle]="{
            'background-image': storeBannerURLString
              ? 'url(' + storeBannerURLString + ')'
              : ''
          }"
          [ngClass]="{
            'store-summary__banner-header--fall-back-banner':
              !storeBannerURLString
          }"
        ></div>
      </div>
      <div class="col-12">
        <div
          class="store-summary__avatar-content"
          [ngStyle]="{
            'background-image': storeAvatarURLString
              ? 'url(' + storeAvatarURLString + ')'
              : ''
          }"
          [ngClass]="{
            'store-summary__avatar-content--fall-back-avatar':
              !storeAvatarURLString
          }"
        ></div>
      </div>
      <div class="col-12">
        <div class="store-details-area">
          <div class="row">
            <div class="col-12">
              <h4>{{ storeSummary?.storeTitle }}</h4>
            </div>
            <div class="col-12">
              <p>
                {{ storeSummary?.storeDescription }}
              </p>
            </div>
            <div class="col-12">
              <sub>
                <i class="bi bi-person-circle"></i>
                {{ storeSummary?.associatedUser?.userName }}
              </sub>
            </div>
            <div class="col-12">
              <tradr-button
                [label]="'Visit'"
                [theme]="storeSummary?.storeTheme"
              ></tradr-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
