<label class="switch">
  <input type="checkbox" (change)="toggleCheck()" />
  <span class="slider round"></span>
</label>

<label class="switch-mobile">
  <input type="checkbox" (change)="toggleCheck()" />
  <span class="slider-mobile round-mobile"></span>
  <i class="bi bi-shop"></i>
  <i class="bi bi-tags"></i>
</label>
<!-- 
<i class="bi bi-tags"></i> -->
