@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";

.switch {
  input[type="checkbox"] {
    opacity: 0;
  }
  position: relative;
  display: inline-block;
  width: 100px;
  @include reHeight;
  @include mobile {
    width: 40px;
  }
  display: inherit;
  @include mobile {
    display: none;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    @include reBlur;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $orange;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    @include reBlur;
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    @include mobile {
      height: 10px;
      width: 10px;
      left: 15px;
      bottom: 15px;
    }
  }

  input:checked + .slider {
    background-color: $grey;
  }

  input:focus + .slider {
    @include reBlur;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
    @include mobile {
      transform: scale(300%);
    }
  }

  input:checked + .slider.round:before {
    @include reRadius;
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
    @include mobile {
      transform: scale(300%);
    }
  }

  /* Rounded sliders */
  .slider.round {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    @include mobile {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  .slider.round:before {
    content: "";
    @include reRadius;
  }
}

.switch-mobile {
  i.bi.bi-tags {
    position: absolute;
    font-size: 20px;
    color: $white;
    left: 10px;
    top: 4px;
  }

  i.bi.bi-shop {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    color: $orange;
    left: 10px;
    top: 4px;
    transition: opacity 0.4s;
  }

  i.bi.bi-shop {
    opacity: 0;
    color: #ac4f1b;
    transition: opacity 0.4s;
  }

  input:checked ~ i.bi.bi-shop {
    opacity: 1;
  }

  input[type="checkbox"] {
    opacity: 0;
  }
  position: relative;
  display: inline-block;
  width: 100px;
  @include reHeight;
  @include mobile {
    width: 40px;
  }
  display: inherit;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  .switch-mobile input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider-mobile {
    @include reBlur;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $orange;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider-mobile:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    @include mobile {
      height: 2px;
      width: 2px;
      left: 19px;
      bottom: 19px;
    }
  }

  input:checked + .slider-mobile {
    background-color: $grey;
  }

  input:focus + .slider-mobile {
    @include reBlur;
  }

  input:checked + .slider-mobile:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
    @include mobile {
      transform: scale(10000%);
    }
  }

  input:checked + .slider-mobile.round-mobile:before {
    @include reRadius10;
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
    @include mobile {
      transform: scale(1800%);
    }
  }

  /* Rounded sliders */
  .slider-mobile.round-mobile {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    @include mobile {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  .slider-mobile.round-mobile:before {
    @include reRadius;
  }
}
