@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";
.select {
  position: relative;
  width: 100%;
  text-align: center;
  &__readonly {
    text-align: left !important;
    border: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24) !important;
    font-size: 14px;
    color: $dark !important;
    font-weight: 600;
    &:focus {
      border: 0 !important;
      border-radius: 5px !important;
    }
  }
  &__item-select {
    position: absolute;
    top: 40px;
    left: 5%;
    width: 90%;
    @include reBlur;
    border-radius: 5px;
    padding: 5px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    text-align: left;
    z-index: 999;
  }
  &__individual-item {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: $grey;
    }
  }
  label {
    text-align: left;
    display: block;
    clear: right;
    width: 100%;
    margin-left: 0%;
    font-size: 14px;
    color: $orange;
    font-weight: 600;
    margin-bottom: 5px;
  }
  input {
    display: inline-block;
    width: 100%;
    outline: none;
    @include reBlur;
    border-radius: 20px;
    @include reHeight;
    text-align: left;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    color: $orange;
    border: 2px solid $white;
    background-color: $white;
    &:focus {
      transition: all 0.3s;
      // border-radius: 10px;
      background-color: $white;
      @include reFocusBorder;
    }
  }
  span {
    display: block;
    text-align: left;
    font-size: 12px;
    padding-left: 0;
    padding-right: 10%;
    padding-top: 10px;
    color: $scarlet;
    font-weight: 600;
  }
  .has-error {
    border: 2px solid $scarlet;
  }
}
