<div class="select">
  <label for="{{ label }}" *ngIf="label">
    {{ label }}
  </label>
  <input
    id="{{ label }}"
    [class.has-error]="hasError"
    [placeholder]="placeholder"
    type="text"
    (keyup)="findValues($event)"
    (click)="openResourceSelect()"
  />
  <span *ngIf="hasError">{{ errorString }}</span>
  <div
    class="select__item-select"
    *ngIf="selectIsOpen && listOfItems.length > 0"
  >
    <div
      class="select__individual-item"
      *ngFor="let item of listOfItems; index as i"
      (click)="selectItem(item)"
    >
      <div [tabIndex]="i">{{ item }}</div>
    </div>
  </div>
</div>
