@import "../../shared-styles/utilities/variables";
@import "../../shared-styles/utilities/functions";

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-color: #ebcfc2;
  background-repeat: no-repeat;
  // @include mobile {
  //   background-position: center -90px;
  //   background-size: 370%;
  //   background-image: url("./../../../assets/bg-grey-mob.jpg");
  // }
  // @include tablet {
  //   background-position: center top;
  //   background-size: 180%;
  //   background-repeat: no-repeat;
  //   background-image: url("./../../../assets/bg-grey-tab.jpg");
  // }
  // @include desktop {
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-image: url("./../../../assets/bg-grey.jpg");
  // }
}

.container {
  @include mobile {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.grape-nuts {
  font-family: "Grape Nuts", sans-serif;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.font-300 {
  font-weight: 300;
}

.font-900 {
  font-weight: 900;
}

.font-xxl {
  @include dynamicFontSizer(120px, 100px, 80px);
}

.font-xl {
  @include dynamicFontSizer(80px, 60px, 40px);
}

.font-l {
  @include dynamicFontSizer(40px, 35px, 30px);
}

.font-m {
  @include dynamicFontSizer(30px, 25px, 20px);
}

.font-s {
  @include dynamicFontSizer(20px, 18px, 16px);
}

.font-xs {
  @include dynamicFontSizer(16px, 14px, 14px);
}

.font-600 {
  font-weight: 600;
}

h1 {
  @include dynamicFontSizer(80px, 60px, 40px);
  font-weight: 600;
}

h2 {
  @include dynamicFontSizer(40px, 35px, 30px);
  font-weight: 600;
}

h3 {
  @include dynamicFontSizer(30px, 25px, 20px);
  font-weight: 600;
}

h4 {
  @include dynamicFontSizer(20px, 18px, 16px);
  font-weight: 600;
}

p {
  @include dynamicFontSizer(16px, 14px, 12px);
  font-weight: 600;
  margin-bottom: 0;
}

sub {
  @include dynamicFontSizer(14px, 14px, 12px);
  font-weight: 600;
  margin-bottom: 0;
}

hr {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid $orange;
}

.orange {
  color: $orange;
}

.grey {
  color: $grey;
}

.yellow {
  color: $yellow;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.cupcake {
  color: $cupcake;
}

.meadow {
  color: $meadow;
}

.sky {
  color: $sky;
}

.anti {
  font-family: "Amatic SC", cursive;
}

.line {
  width: 60%;
  height: 1px;
  margin-left: 20%;
  background-color: $sandalwood;
}

.global-link {
  color: $black;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: $sky;
    text-decoration: underline;
  }
}

a {
  color: $orange;
  text-decoration: underline;
  &:hover {
    color: $sky;
    text-decoration: underline;
  }
}

.clickable {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
