@import "../../../shared-styles/utilities/variables";
@import "../../../shared-styles/utilities/functions";
.input {
  position: relative;
  width: 100%;
  text-align: center;
  &__readonly {
    text-align: left !important;
    border: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24) !important;
    font-size: 14px;
    color: $dark !important;
    font-weight: 600;
    &:focus {
      border: 0 !important;
      border-radius: 5px !important;
    }
  }
  label {
    text-align: left;
    display: block;
    clear: right;
    width: 100%;
    font-size: 14px;
    color: $orange;
    font-weight: 600;
    margin-bottom: 5px;
  }
  input {
    @include reBlur;
    @include reHeight;
    display: inline-block;
    width: 100%;
    outline: none;
    border-radius: 20px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    color: $orange;
    border: 2px solid $white;
    background-color: $white;
    &:focus {
      @include reFocusBorder;
      transition: all 0.3s;
      border-radius: 20px;
      background-color: $white;
    }
  }
  span {
    display: block;
    text-align: left;
    font-size: 12px;
    padding-right: 10%;
    padding-top: 10px;
    color: $scarlet;
    font-weight: 600;
  }
  .has-error {
    border: 2px solid $scarlet;
  }
}
