<div class="input" *ngIf="!label && !readonly">
  <input
    [class.has-error]="hasError"
    [placeholder]="placeholder"
    [type]="setInputType()"
    (keyup)="emitInput($event)"
  />
</div>

<div class="input" *ngIf="label && !readonly">
  <label for="{{ label }}">
    {{ label }}
  </label>
  <input
    id="{{ label }}"
    [class.has-error]="hasError"
    [placeholder]="placeholder"
    [type]="setInputType()"
    (keyup)="emitInput($event)"
  />
  <span *ngIf="hasError">{{ errorString }}</span>
</div>

<div class="input" *ngIf="readonly && value">
  <input class="input__readonly" id="{{ value }}" [value]="value" readonly />
</div>
