@import "../../shared-styles/utilities/variables";
@import "../../shared-styles/utilities/functions";

.login-page {
  &__login-wrap {
    @include reGradient;
    @include mobile {
      margin-top: 30px;
    }
    @include tablet {
      margin-top: 60px;
    }
    @include desktop {
      margin-top: 60px;
    }
    background-color: $white;
    @include reBlur;
    @include reRadius10;
    @include reBottomAccent;
  }
  &__logo {
    margin-top: 20px;
    @include mobile {
      @include logo-sm;
    }
    @include tablet {
      @include logo-md;
    }
    @include desktop {
      @include logo-lg;
    }
  }
}
