<div class="login-page">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-6 col-lg-4 login-page__login-wrap">
      <div class="row">
        <div class="col-12 text-center">
          <div class="login-page__logo"></div>
          <!-- <span class="anti inline-block font-xl orange mt-4">{{
            pageData?.pageStrings?.siteName
          }}</span> -->
          <span class="anti block black font-l mt-1 mb-3">{{
            pageData?.pageStrings?.siteSlogan
          }}</span>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col"></div>
            <div class="col-10 mt-3 mb-2">
              <tradr-input
                [label]="pageData?.pageStrings?.yourEmail"
                [placeholder]="pageData?.pageStrings?.emailPlaceholder"
                [errorString]="pageData?.pageStrings?.emailWrong"
                [inputType]="'text'"
                [hasError]="emailBad"
                (output)="setEmail($event)"
              ></tradr-input>
            </div>
            <div class="col"></div>
          </div>

          <div class="row">
            <div class="col"></div>
            <div class="col-10 mt-3 mb-4">
              <tradr-input
                [label]="pageData?.pageStrings?.yourPassword"
                [placeholder]="pageData?.pageStrings?.passwordPlaceholder"
                [inputType]="'password'"
                [hasError]="passwordBad"
                [errorString]="pageData?.pageStrings?.passwordWrong"
                (output)="setPassword($event)"
              ></tradr-input>
            </div>
            <div class="col"></div>
          </div>

          <div class="row">
            <div class="col"></div>
            <div class="col-10 mt-3 mb-3">
              <tradr-button
                [label]="pageData?.pageStrings?.logIn"
                (output)="submitLogin()"
              ></tradr-button>
            </div>
            <div class="col"></div>
          </div>

          <div class="row">
            <div class="col"></div>
            <div class="col-10 mt-3 mb-2">
              <hr />
            </div>
            <div class="col"></div>
          </div>

          <div class="row">
            <div class="col"></div>
            <div class="col-10 mt-3 mb-5 text-center">
              <a class="clickable font-s" [routerLink]="'/register'">{{
                pageData?.pageStrings?.dontHaveAnAccount
              }}</a>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<!-- <tradr-toggle></tradr-toggle>
<tradr-input [placeholder]="'test'"> </tradr-input>
<tradr-select
  [readonly]="false"
  [label]="'Search'"
  [resourceHttpAdaptorService]="pageData?._resourceService"
></tradr-select> -->
